<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Starting LATID...</title>
    <link href="_system/styles/startup.css" rel="stylesheet">
</head>
<body>
    <div id="preloader">
        <div id="name" class="credentials">Latid</div>
        <div id="version" class="credentials">version</div>
        <div id="progressbar"></div>
    </div>
    <script src="_system/scripts/startup.js"></script>
</body>
</html>
