body, html{
    padding:0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#preloader{
    width: 100%;
    height: 100vh;
    background-color: rgb(9, 96, 103);
    display:block;
    box-sizing: border-box;
    text-align: center;
    padding-top: 45vh;  
    transition: opacity .5s;  
}

@keyframes beat{

0%    { opacity: 100%;}
100%  { opacity: 10%;}
}

#preloader::before{
    content: "Please, wait...";
    display: block;
    color: white;
    font-size: 1.2em;
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
 
    
}

.credentials{
    font-size: 0.8em;
    position: absolute;
    top: 15px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
    letter-spacing: 0.1em;
}

#name{
    left:20px;
}
#version{
    right:20px;
}
